<div class='esp2'>
<h1> ¿ Porque Nosotros ? </h1>
<p>
  Esta web esta diseñada apra ayudar a la gente en la tarea diaria de busqueda de empleo,
  tambien facilitamos la busqueda de ofertones y descuentos que se publican en diferentes webs
  Para sacarle todo el partido a esta web tendras que seguir las instrucciones que se te indican
  en los apartados. Recuerda que aunque te libremos de buscar individualmente en cada pagina
  seguiras teniendo que registrarte y comprar o apuntarte a traves de ella, nuestro trabajo
  es simplemente reunir toda esa informacion para agilizar el proceso.  
</p>
</div>