<div class='esp2'>
<h1> ¿ Porque usar este buscador y no otros servicios web ? </h1>
<p>Este es un buscador multiple, esto quiere decir que busca en multiples sitios y muestra el resultado directamente en un formato mas comodo.
Asi no tienes que ir página a página de ofertas de trabajo y buscar las ofertas, simplemente rellenas el formulario y nosotros buscamos por ti en esas páginas. Evidentemente los resultados son los que esas páginas tienen. Simplemente ahorramos mucho tiempo y la tarea repeitiva de hacerlo. </p>
</div>

