<div class='esp2'>
<h1> ¿ Como sacar el mayor partido a esta web ?</h1>
<p>
   Para sacar el mayor rendimiento a esta web y realmente ganar tiempo dia a dia en al busqueda de empleo online
   te recomendamos que visites el apartado de curriculum, ahy encotraras consejos de como hacer un buen curriculum,
   ejemplos de curriculums y cartas de presentacion etc, todo lo necesario para ganar puntos.
</p>
</div>