<div class='espaciado'>
<p>Somos un grupo de personas en busqueda de empleo que hemos
creado esta web para facilitar al busqueda de este, asi como la
creacion de curriculums y cartas de presentacion</p>
</div>


