<div class="grid_12">
         <div class='grid_12 pastilla2 round'>
                  
                  <div class='grid_7 omega esp2'>
                           datos del formulario y bla bla bal
                  </div>
                  <div class='grid_3 alpha esp2'>
                           <%= image_tag('perribusca.gif', :size=> "175x150") %>
                  </div>
                  
         </div>
         <div class='grid_12'>
                  <hr>
         </div>
          <div class='grid_12'>
                  oferta1
          </div>
          <div class='grid_12'>
                  <%= image_tag('triston.gif') %>
          </div>
                  
</div>
        
